*.tar.gz

*.exe
src/q3chain
src/q3chaind
src/q3chain-cli
src/q3chain-tx
src/q3chain-cli
src/q3chain-util
src/q3chaind
src/q3chaind-cold
src/q3chain-cli-wdebug
src/q3chain-util-wdebug
src/q3chaind-wdebug
src/q3chaind-cold-wdebug
src/test/test_q3chain
src/qt/test/test_q3chain-qt

local/*
openssl*

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
**/build-aux/config.guess
**/build-aux/config.sub
**/build-aux/depcomp
**/build-aux/install-sh
**/build-aux/ltmain.sh
**/build-aux/m4/libtool.m4
**/build-aux/m4/lt~obsolete.m4
**/build-aux/m4/ltoptions.m4
**/build-aux/m4/ltsugar.m4
**/build-aux/m4/ltversion.m4
**/build-aux/missing
**/build-aux/compile
**/build-aux/test-driver
config.log
config.status
configure
libtool
src/config/q3chain-config.h
src/config/q3chain-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

db-4.8.30.NC/
db4/
nbproject/

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.q3chain
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
q3chain-qt
q3chain-Qt.app

# Unit-tests
Makefile.test
q3chain-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_q3chain.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-q3chaind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
test_filters.sh

!src/leveldb*/Makefile

/doc/doxygen/

# V8
v8build

# Eclipse CDT
.autotools
.cproject
.project
.settings/

# Qt Creator
*.user
*.config
*.creator
*.files
*.includes

.idea/
cmake-build-debug
x86_64-w64-mingw32
*.dll

!depends/clang_fix.config
